/*Reset basico para eliminar imagenes y mejorar compatibilidad*/
/*Paleta de colores*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root{
    --navy-blue: #001f3f;
    --light-blue: #0074d9;
    --redwine: #800020;
    --white: #ffffff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilo general*/

body{
    font-family: 'Poppins', Times, serif;
    background: linear-gradient(to bottom, var(--navy-blue), var(--light-blue));
    color: rgb(189,189,189);
    text-align: center;
    min-height: 100vh;
    padding:0;
    margin: 0;
}

header{
    font-family: 'Poppins', Times, serif;
    background: var(--navy-blue);
    color: azure;
    padding: 20px;
    text-align: center;
    gap: 20px;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding:0;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    color: var(--white);
    text-decoration: none;
    font-weight: bold;

}

/*sections*/
section{
    background:  rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding:30px;
    margin: 50px 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

section:hover{
    transform: scale(1.02);
}

h2{
    color: rgb(189,189,189);
}

div{
    padding: 20px;
}
/*estilos imagenes e iconos de programaicion*/

.about-container{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.about-container:hover .about-gif {
    opacity: 1;
    transform: translateY(0);
}

.about-gif{
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.project{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    max-width: 500px;
    transition: tranform 0.3 ease-in-out, box-shadow 0.3 ease-in-out;
}

.project:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.project-image {
    width: 70%;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

.project-image:hover {
    opacity: 0.8;
}

.button{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #b22222;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

.button:hover {
    background: #8b1a1a;
}

.linkedin-link{
    border-radius: 3px;
    border-color: #800020;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.copy-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.copy-container input {
    border: none;
    background: var(--white);
    color: var(--navy-blue);
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
    font-size: 16px;
    width: 250px;
    text-align: center;
}

.copy-container button {
    background: var(--redwine);
    color: var(--white);
    border:black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.copy-container button:hover {
    background: #a83232; /* Un rojo más claro al pasar el mouse */
}

#presentation {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    margin-top: 50px;
}

.cursor {
    display: inline-block;
    color: var(--light-blue);
    animation: blink 0.8s infinite;
}

@keyframes blink{
    0%, 100% {opacity: 1;}
    50% {opacity: 0; }
}